.twelve.columns.offset-by-two
  .disc-list
    .disc-summary
      .disc-title Intrinsicly aggregate alternative bandwidth after pandemic bandwidth after pandemich
    .disc-summary
      .disc-title Intrinsicly aggregate alternative bandwidth after pandemic bandwidth after pandemich
    .disc-summary
      .disc-title Intrinsicly aggregate alternative bandwidth after pandemic bandwidth after pandemich
    .disc-summary
      .disc-title Intrinsicly aggregate alternative bandwidth after pandemic bandwidth after pandemich
