@import "compass/css3";
@import "../base";

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #CCC;
  border:none;
  padding: 8px 15px;
  @include border-radius(3px);
  line-height: 1em;
  height: auto;
  font-size: 16px;
  text-shadow: none;
  font-weight: normal;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background: #DDD;
  border:none;
}
.button-primary {
  color: #FFF;
  background: #006dcc;
  &:hover {
    background: #0044cc;
    color: #FFF;
  }
}
.button-danger {
  color: #FFF;
  background: #da4f49;
  &:hover {
    background: #bd362f;
    color: #FFF;
  }

}
.button-success {
  color: #FFF;
  background: #5bb75b;
  &:hover {
    background: #51a351;
    color: #FFF;
  }
}
