@import "compass/utilities/general/clearfix";
.discussion-title {
  margin-top: 0;
  font-size: 28px; line-height: 34px; margin-bottom: 8px;
}
.disc-meta, .disc-meta a {
  color: #888;
  font-size: 14px;
}
.reply, .discussion {
  margin-bottom: 30px;
  @include clearfix;
  clear: both;
}
.reply {
  textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 0;
  }
  input[type="file"] {
    // margin-bottom: 20px;
  }
  input[type="file"],
  button,
  {
    display: block;
  }
}
.disc-list {
  .disc-summary {
    background: #EEE;
    margin-bottom: 12px;
  }
  .disc-title {
    font-size: 28px;
    line-height: 34px;
  }
}
