@import "compass/utilities/general/clearfix";
.discussion-title {
  margin-top: 0;
  font-size: 28px; line-height: 34px; margin-bottom: 8px;
}
.reply, .discussion {
  margin-bottom: 30px;
  @include clearfix;
  clear: both;
}
.reply {
  textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 0;
  }
  input[type="file"] {
    // margin-bottom: 20px;
  }
  input[type="file"],
  button,
  {
    display: block;
  }
}
