@import "compass/css3";
@import "../base";

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  @include single-box-shadow(#FFF, 0, 0);
  font-size: 16px;
  @include border-radius(0);
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover,
select:hover {
  @include single-box-shadow(#FFF, 0, 0);
}
