@import "compass/css3";
@import "../base";
.participants {
  ul {
    -webkit-padding-start: 0;
  }
  #new-participant {
    border: none;
    border-color: none;
    @include border-radius(0);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-left: 0;
    padding-right: 0;
    &:focus {
      border: none;
    }
  }
  em {
    font-size: 80%;
  }
}
