@import "compass/css3";
@import "../base";
.participants {
  ul {
    -webkit-padding-start: 0;
  }
  input[type="text"] {
    border: none;
    @include border-radius(0);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #000;
    padding-left: 0;
    padding-right: 0;
    &:focus {
      @include single-box-shadow(#FFF, 0, 0);
    }
  }
  em {
    font-size: 80%;
  }
}
