@import "compass/css3";
@import "../base";
.who {
  .who-role {
    font-size: 80%;
    text-align: right;
  }
  .who-img {
    position: relative;
    img {
      display: block;
    }
    a {
      @include opacity(0);
      @include single-transition(opacity, 0.20s, ease-in-out, 0s);
      position: absolute;
      text-decoration: none;
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      padding: 5px;
      left: 0;
      top: 0;
      font-weight: bold;
      background: white;
    }
    &:hover {
      a {
        @include opacity(0.8);
      }
    }
  }
}
