@import "compass/css3";
@import "compass/utilities/general/clearfix";

// $font-family: acuta, calluna, Georgia, serif;
// $font-family: Quando, Georgia, serif;
$font-family: 'proxima-nova', 'calluna', Georgia, serif;

body {
  color: black;
  font-family: $font-family;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}
.ad {
  background: #FCF8E3;
  padding: 10px;
}
input[type="text"],
textarea,
button,
.button,
{
  font-family: $font-family;
}
