$font-family: Quando, Georgia, serif;
@import "compass/css3";
@import "compass/utilities/general/clearfix";

body {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
}
.reply {
  @include clearfix;
  clear: both;
  margin-bottom: 20px;
  textarea {
    width: 98%;
    height: 100px;
    margin-bottom: 0;
  }
  input[type="file"] {
    // margin-bottom: 20px;
  }
  input[type="file"],
  button,
  {
    display: block;
  }
}
.who {
  span {
    font-size: 80%;
  }
  .img {
    position: relative;
    img {
      display: block;
    }
    a {
      @include opacity(0);
      @include single-transition(opacity, 0.20s, ease-in-out, 0s);
      position: absolute;
      text-decoration: none;
      font-size: 12px;
      height: 12px;
      line-height: 12px;
      padding: 5px;
      left: 0;
      top: 0;
      font-weight: bold;
      background: white;
    }
    &:hover {
      a {
        @include opacity(0.8);
      }
    }
  }
}
.ad {
  background: #FCF8E3;
  padding: 10px;
}
input[type="text"],
textarea,
button,
.button,
{
  font-family: $font-family;
}
.participants {
  #new-participant {
    border: none;
    border-color: none;
    @include border-radius(0);
    border-radius: 0;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding-left: 0;
    padding-right: 0;
    &:focus {
      border: none;
    }
  }
  em {
    font-size: 80%;
  }
}
