<!DOCTYPE html>
<html>
<head>
  <title>Disko Design</title>
  <%# <script type="text/javascript" src="//use.typekit.net/zns1mvh.js"></script>%>
  <%# <script type="text/javascript">try{Typekit.load();}catch(e){}</script>%>
  <link href='//fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
