<!DOCTYPE html>
<html>
<head>
  <title>Disko Design</title>
  <link href='//fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
